body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
h1,h2,h3,h4,h5,h6{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
a,span{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.heading{
    font-weight: 700;
    font-size: 30px;
}
.margin-top{
    margin-top:50px;
}
.wrapper{
    overflow:hidden;
}
.top_header {
    background: #000;
    text-align: center;
    color: #fff;
    padding: 5px 0;
}
.top_header a {
    color: #fff;
    font-size: 12px;
    text-decoration: none;
}
.top_header a path {
    color: #a14143;
}
.top_header a svg {
    margin-right: 4px;
}
.container-fluid {
    width: 90%;
}
.nav {
    display: flex;
    align-items: center; /* Vertically center items */
    height: 100%; /* Make sure the nav takes up the full height of its parent */
  }
  .nav-item {
    margin: 0; /* Remove default margin */
    padding: 0 10px; /* Add padding to the sides of each nav item */
    list-style-type: none; /* Remove default list styling */
  }
  .nav-link {
    line-height: 19px;
    transition: all 300ms cubic-bezier(0.5, 0, 0.5, 1);
    position: relative;
    color: #111;
    padding: 8px 13px 11px 13px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
  }
  .nav-link:after {
    position: absolute;
    top: auto;
    left: 50%;
    content: "";
    height: 3px;
    width: 0;
    transition: width .5s, left .5s, right .5s;
    background: #a14143;
    bottom: 0;
}
.nav-link:hover:after {
    width: 100%;
    left: 0;
    right: 0;
}
.nav li:first-child  {
    padding-left: 0;
}
li.nav-item:nth-child(2) {
    background: #a14143;
    
}
li.nav-item:nth-child(2) a{
    color: #fff;
}
  .header.row {
    vertical-align: middle;
    align-items: center;
}
  .nav-link:hover {
    color: #333; /* Change color on hover */
  }
  
.logo {
    width: 180px;
}
.logo img {
    width: 100%;
}
.search_form {
    text-align: right;
    position: relative;
}
.live-search-results {
    position: absolute;
    background: #fff;
    box-shadow: 0px 0px 3px -1px;
    padding: 20px;
    z-index: 1;
    height: 400px;
    overflow-y: scroll;
}
.search_form input[type="text"] {
    border: 1px solid #e1e1e1;
    height: 38px;
    background-color: #fff;
    padding: 2px 45px 2px 12px;
    width: 100%;
}
.search_form .form_btn {
    border: none;
    cursor: pointer;
    padding: 0 16px;
    line-height: 38px;
    height: 38px;
    vertical-align: middle;
    position: absolute;
    top: 0;
    right: 0;
    background: #000;
    color: #fff;
}
.list_pro {
    display: flex;
    text-align: left;
    margin-bottom: 20px;
}
.search_pro {
    margin-right: 13px;
}
.search_pro span {
    color: #009700;
    font-size: 14px;
}
.s_pro_img img {
    width: 100px;
}
.s_pro_ttl h4 {
    color: #111;
    font-size: 15px;
    font-weight: bold;
}
.live-search-results button {
    border: none;
    background: transparent;
    text-align: center;
    margin: 0 auto;
    align-items: center;
    font-size: 12px;
    font-style: italic;
    width: 100%;
}
.s_pro_ttl a {
    text-decoration: none;
}
/* home banner */
/* CSS for the home banner */
.banner-item img{
    width:100%;
}
.home_banner {
    position: relative;
  }
  
  /* CSS for the custom arrows */
  .banner-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    z-index: 1; /* Ensure arrows appear above the slider */
    color: #fff;
  }
  .banner-arrow svg{
    width: 40px;
    height: 40px;
  }
  /* CSS for the left arrow */
  .banner-arrow.left-arrow {
    left: 10px; /* Adjust as needed */
  }
  
  /* CSS for the right arrow */
  .banner-arrow.right-arrow {
    right: 10px; /* Adjust as needed */
  }
  /* category slider */
  .category_slider {
    position: relative;
  }
  .category-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-185%);
    cursor: pointer;
    z-index: 1;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    width: 30px;
    text-align: center;
    height: 30px;
    padding: 2px;
  }
  .category-arrow.prev-arrow {
    left: 15px; /* Adjust as needed */
  }
  .category-arrow.next-arrow {
    right: 15px; /* Adjust as needed */
  }
  .category-arrow.next-arrow:hover,.category-arrow.prev-arrow:hover{
        background: #a14143;
  }
  .category-arrow svg {
    width: 10px;
    height: 10px;
    vertical-align: middle;
}
.footer-columns {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}
footer {
    background: #000;
}
.footer_link h3 {
    color: #fff;
    margin-bottom: 26px;
    font-size: 24px;
}
.footer_link ul {
    margin: 0;
    padding: 0;
}
.footer_link li {
    list-style: none;
    padding:5px 0;
}
.footer_link a {
    color: #fff;
    font-weight: bold;
}
.footer_logo {
    width: 50%;
}
.footer_logo img {
    width: 50%;
}
.footer_social img {
    width: 50px;
    margin: 10px 4px;
}
.footer_social h3 {
    color: #fff;
    font-size: 20px;
}
.footer_social a{ position: relative;}
.footer_social a:hover {
    top: 2px;
}
.footer-column {
    flex-grow: 1;
}
.bottom-footer {
    background: #222;
    padding: 20px 0;
}
.bottom-footer p {
    margin: 0;
    color: #fff;
}
.under_section {
    width: 80%;
    margin: 0 auto;
}
.under-container {
    display: flex;
    justify-content: space-between;
}
.under-item img {
    width: 100%;
    padding: 20px;
}
/* deal section */
.loin_link {
    text-align: center;
    margin: 50px;
    width: auto;
    padding: 20px;
}
.sticky + .heading{
     margin-top: 100px;
}
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  transition: top 0.5s ease; /* Increase the transition duration */
  z-index: 99;
  margin: 0;
  }
.loin_link a {
    text-decoration: none;
    color: #fff;
    background: #b65953;
    font-size: 14px;
    padding: 8px 12px 8px 8px;
    border-radius: 20px;
    transition: border-radius .5s;
}
.loin_link svg {
    fill: #fff;
    margin-right: 8px;
}
.loin_link a:hover {
    border-radius: inherit;
}
.deal-item img {
    width: 100%;
    height: 160px;
    max-width: 200px;
    padding: 10px 20px;
    object-fit: contain;
    margin: 0 auto;
}
.deal-item{
    border: 1px solid rgba(159,159,159, 0.35);
    padding: 12px;
    transition: box-shadow 0.4s ease;
    position: relative;
}
.deal-item:hover{
    box-shadow: 0 0 20px #ddd;
}
.deal-section .slick-slide > div {
    padding: 8px 15px;
}
.deal-item a.buy_btn {
    background: none #b65953 ;
    color: #ffffff;
    fill: #ffffff;
    text-decoration: none ;
    box-shadow: -1px 6px 19px rgba(182,89,83,0.2) ;
    border-radius: 4px ;
    width: 100%;
    display: block;
    padding: 12px;
    text-align: center;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
}
.category_info a {
    color: #555;
    text-transform: uppercase;
    font-size: 11px;
}
.deal-item a.buy_btn:hover {
    background: none #191919 ;
    color: #ffffff;
    border-color: transparent;
    box-shadow: -1px 6px 13px rgba(25,25,25,0.4) ;
}
.trend-item{
    border: 1px solid rgba(159,159,159, 0.35);
    padding: 12px;
    transition: box-shadow 0.4s ease;
    margin: 10px 0;
    position: relative;
}
.trend-item:hover{
    box-shadow: 0 0 20px #ddd;
}
.trend-item img {
        width: 100%;
        height: 200px;
        max-width: 200px;
        padding: 20px;
        object-fit: contain;
        margin: 0 auto;
        display: block;
}
.trend-item a.buy_btn {
    background: none #b65953 ;
    color: #ffffff;
    fill: #ffffff;
    text-decoration: none ;
    box-shadow: -1px 6px 19px rgba(182,89,83,0.2) ;
    border-radius: 4px ;
    width: 100%;
    display: block;
    padding: 12px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
.trend-item a.buy_btn:hover {
    background: none #191919 ;
    color: #ffffff;
    border-color: transparent;
    box-shadow: -1px 6px 13px rgba(25,25,25,0.4) ;
}
.product_ttl {
    font-size: 15px;
    font-weight: normal;
    color: #111;
    margin: 20px 0px;
}
.trend-item h2{
    min-height: 65px;
}
span.trend_offer_price {
    color: #000;
    font-weight: bold;
    font-size: 18px;
}
span.trend_old_price {
    color: #dd7064;
    font-size: 14px;
    display: inline-block;
    margin-left: 10px;
}
.trend-item a {
    text-decoration: none;
}
.deal-item h2 {
    min-height: 65px;
}
button.loadmore {
    background-color: #000;
    border: 0 !important;
    border-radius: 1em;
    box-shadow: none!important;
    color: #fff;
    cursor: pointer;
    font-size: 1.1em;
    text-decoration: none !important;
    transition: border-radius .5s;
    padding: 17px 68px;
    text-transform: uppercase;
    text-align: center;
    display: block;
    margin: 50px auto;
    font-weight: bold;
}
.category-item img {
    width: 100%;
    max-width: 150px;
    height: 150px;
    border: 2px solid #000;
    border-radius: 50%;
    padding: 0px;
    margin: 0 auto;
}
.category-item {
    text-align: center;
}
.category_slider {
    width: 80%;
    margin: 50px auto 0;
}
span.cat_p_offer_price {
    color: #f04057;
    font-weight: bold;
    font-size: 18px;
}
span.cat_p_old_price {
    display: block;
    font-size: 13px;
    color: #666;
    font-weight: normal;
    text-align: left;
}
.category-page img {
    padding-top: 0;
    padding-bottom: 0;
    height: 160px;
}
.trend-item {
    border: 1px solid rgba(159, 159, 159, 0.35);
    padding: 12px;
    transition: box-shadow 0.4s ease;
    margin: 10px 0;
    position: relative;
}
span.offer_price {
    color: #f04057;
    font-weight: bold;
    font-size: 18px;
    display: block;
}
span.old_price {
    color: #666;
    font-size: 14px;
    margin-top: -6px;
    display: block;
}
.deal-item a {
    text-decoration: none;
}
.category_slider button.slick-arrow {
    background: #00000082;
}
.category-item span {
    font-weight: bold;
    color: #000;
    font-size: 16px;
    padding-top: 10px;
    display: block;
}
.category-item a {
    text-decoration: none;
}
span.discount_percentage {
    padding: 3px 7px;
    font: bold 12px / 15px Arial;
    position: absolute;
    text-align: center;
    top: 10px;
    right: 10px;
    margin: 0;
    background: #77b21d;
    color: #fff;
    font-size: 15px;
    border-radius: 3px;
}
.category_right h1 {
    font-size: 25px;
    font-weight: bold;
}
.category_left h2 {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px solid #ddd;
}
.category_left a {
    color: #000;
    font-size: 16px;
    line-height: 30px;
    display: block;
    margin-bottom: 5px;
    text-decoration: none;
}
.category_left li {
    list-style: none;
}
.category_left ul {
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    height: 500px;
}
.pdp_img_ttl {
    display: flex;
    align-items: center;
}
.pdp_img_ttl img {
    max-width: 100px;
    width: 100%;
    object-fit: contain;
    padding: 20px;
}
.pdp_img_ttl h2 {
    font-size: 24px;
    font-weight: bold;
}
.pdp_price_butn {
    display: block;
    text-align: right;
    margin: 20px 0;
    border-top: 1px solid #c5c5c54d;
    border-bottom: 1px solid #c5c5c54d;
    padding: 25px 0;
}
.pdp-prices {
    display: inline-block;
}
span.pdp_offer_price {
    font-size: 21px;
    font-weight: bold;
    margin-right: 10px;
}
span.pdp_old_price {
    font-size: 21px;
    margin-right: 10px;
}
a.pdp_buy_btn {
    background: none #b65953;
    color: #ffffff;
    text-decoration: none;
    box-shadow: -1px 6px 19px rgba(182, 89, 83, 0.2);
    border-radius: 4px;
    padding: 8px 12px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
.pdp_buy_btn:hover {
    background: none #191919;
    color: #ffffff;
    border-color: transparent;
    box-shadow: -1px 6px 13px rgba(25,25,25,0.4);
}
.product-details ul {
    padding-left: 20px;
}
.product-details ol {
    padding-left: 20px;
}
.product-details h2 {
    font-weight: bold;
    margin: 25px 0 30px 0;
    font-size: 25px;
}
.product-details h2 span {
    font-weight: bold;
}
.product-details li {
    margin: 0 0 5px 0px;
}
.product-details ol a {
    color: #a14143;
}
.deal-description h1 {
    font-size: 25px;
    font-weight: bold;
    margin: 25px 0 30px 0;
}
.recommended-product img {
    width: 100%;
}
.recommended-product h4 {
    color: #111;
    font-size: 18px;
    margin: 20px 0 10px;
}
.recommended-product a {
text-decoration: none;
}
h3.related_heading {
    font-weight: bold;
    font-size: 19px;
    margin: 30px 0;
}
span.recommended-offer-price {
    color: #a14143;
    font-size: 20px;
    font-weight: bold;
}
.recommended-product:hover h4 {
    color: #a14143;
}
.product-details {
    margin-bottom: 40px;
}

/* about page start*/
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 300px;
}
.banner_heading {
    color: #01367C;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
}
.custom-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Ensure the custom content div fills the height of the column */
  }
  
  .custom-content img {
    max-width: 100%; /* Ensure the image fits within its container */
  }
  .custom-content-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Ensure the custom content div fills the height of the column */
  }
  
  .custom-content-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Ensure the custom content div fills the height of the column */
  }
  
  .custom-content-2 img {
    max-width: 100%; /* Ensure the image fits within its container */
  }
  .custom-happy-shopping-section .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .custom-happy-shopping-section .col {
    text-align: center;
  }
  .happy_con {
    color: #01367C;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}
.happy-shopping-section.custom-happy-shopping-section {
    padding: 50px 40px;
    border-radius: 20px;
    margin: 60px 0;
}
h2.happy_ttl {
    color: #01367C;
    font-size: 55px;
    font-weight: 900;
    margin: 40px 0;
}
.best_deal_section {
    background: #2575FA;
    width: 100%;
    height: 400px;
    margin-top: 100px;
}
  .best-deal-right {
    margin-top: -76px;
    text-align: center;
}  

/* contact us css */
.contact_social_area {
    background: #FAFFE1;
}
.contact_social_area {
    background: #FAFFE1;
    width: 100%;
    padding: 20px;
    border-radius: 20px;
}
.social_links a img {
    width: 50px;
    margin-right: 20px;
}
.telegram_button {
    background: #C4ECFE;
    border-radius: 50px;
    padding: 5px;
    margin: 20px 0;
}
.telegram_button a {
 font-size: 20px;
}
.telegram_button img {
    margin-right: 15px;
}
.contact-page {
    margin-bottom: 50px;
}

/* affiliate disclosure */
h2.affiliate_top_ttl {
    text-transform: capitalize;
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 57px;
}
.affiliate_con h3 {
    font-size: 20px;
    line-height: 28px;
    margin: 10px 0 25px 0;
    font-weight: bold;
}
.affiliate_con h4 {
    font-size: 18px;
    line-height: 24px;
    margin: 10px 0 18px 0;
    font-weight: bold;
}
.affiliate-disclosures-page {
    margin-bottom: 50px;
}
.hot-deal_container {
    width: 90%;
    margin: 50px auto 0;
}
/* under pages design  */
.top_vertical_filter {
    box-shadow: 0 1px 0 #E4E4E4;
    margin-bottom: 30px;
}
.top_vertical_filter button {
    border: none;
    background: transparent;
    margin-right: 15px;
}
h3.sort_by_price {
    padding: 15px 0;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 3px solid #a14143;
    display: inline-block;
    margin: 0 15px 0;
}
button:focus {
    outline: none;
}
button.sort_by.active{
    transition: all .3s ease;
    color: #a14143;
}
.pagination {
    border: 1px solid #555;
    width: 20%;
    display: block;
    margin: 30px auto;
    text-align: center;
    padding: 7px;
}
.pagination button {
    border: none;
    background: transparent;
    color: #555;;
}
.pagination button.active {
    color: #a14143;;
}
.no_products {
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 100%;
}
